body {
	background-color: #0F0D08;
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

#bitmap-bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.3;
	image-rendering: pixelated;
}

#media-list {
	flex: 1;
}

p.title-bar {
	font: bold 48px 'Orbitron', monospace;
	text-align: center;
	color: #00B0B0;
	margin-bottom: 10px;
	text-shadow: 5px 5px 16px #8400C3;
}

.media-list {
	display: flex;
	padding: 2rem 1rem;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 2rem;
	row-gap: 100px;
}

.track-group {
	flex: min-content;
	max-width: calc(50% - 1rem);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	overflow-x: clip;
}

.track-group-left {
	align-items: flex-start;
}

.track-group-left .section-header,
.track-group-left .track-item {
	align-self: flex-start;
}

.track-group-right {
	align-items: flex-end;
	margin-top: 100px;
}

.track-group-right .section-header,
.track-group-right .track-item {
	align-self: flex-end;
}

@media (max-width: 1080px) {
	.media-list {
		flex-direction: column;
		gap: 4px;
	}

	.track-group {
		max-width: none;
	}

	.track-group-right {
		margin-top: 0;
	}
}

.section-header svg polygon {
	fill: #00B0B0;
	stroke: #FFFF00;
	stroke-width: 4px;
}

.section-header svg text {
	fill: #8400C3;
	font-family: 'Orbitron', sans-serif;
	font-size: 24px;
	font-weight: bold;
	dominant-baseline: middle;
}

.track-item svg polygon {
	fill: #00B0B0;
	stroke: orangered;
	stroke-width: 3px;
}

.track-item svg text {
	fill: #8400C3;
	font-family: 'Orbitron', sans-serif;
	font-size: 18px;
	dominant-baseline: middle;
}

.track-item:hover svg polygon {
	filter: drop-shadow(0 0 8px #FFFF00);
	cursor: pointer;
}

.track-item:hover svg text {
	fill: #FFFF00;
}

.track-item.track-active svg polygon {
	fill: #8400C3;
	filter: drop-shadow(0 0 8px #FFFF00);
}

.track-item.track-active svg text {
	fill: #FFFF00;
}


.controls {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1rem;
	box-sizing: border-box;
	gap: 1rem;
}

.play-pause-btn {
	font-size: 24px;
	font-family: 'Orbitron', sans-serif;
	width: 160px;
	height: 30px;
	cursor: pointer;
	display: flex;
}

.play-pause-btn svg polygon {
	fill: #8400C3;
	stroke: #00B0B0;
	stroke-width: 3px;
}

.play-pause-btn svg text {
	fill: #00D0D0;
	text-anchor: middle;
	font-size: 24px;
	font-family: 'Orbitron', sans-serif;
}

.play-pause-btn.playing {
	border-color: #FFFF00;
	color: #FFFF00;
}

.play-pause-btn.playing svg polygon {
	fill: #8400C3;
	stroke: #FFFF00;
	stroke-width: 3px;
}

.play-pause-btn.playing svg text {
	fill: #FFFF00;
	text-anchor: middle;
	font-size: 24px;
	font-family: 'Orbitron', sans-serif;
}

@keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.play-pause-btn:hover:not(:disabled) {
	animation: flash 0.5s linear infinite; 
}

.play-pause-btn:disabled {
	opacity: 0.5;
	cursor: default;
}

.timeline {
	flex: 1;
	height: 10px;
	background-color: #FFFF00;
	cursor: pointer;
	position: relative;
	clip-path: polygon(0px 0px, 20px 10px, 100% 100%, calc(100% - 20px) 0%);
}

.timeline-played {
	height: 100%;
	background-color: #8400C3;
	width: 0%;
	position: absolute;
	left: 0;
	top: 0;
	clip-path: polygon(0px 0px, 20px 10px, 100% 100%, calc(100% - 20px) 0%);
}

#footer {
	text-align: center;
	padding: 0.5rem 1rem;
}

#footer p {
	margin: 0;
	font: 12px 'Rubik', sans-serif;
	color: #008080;
}
