body {
	background-image: radial-gradient(closest-side, #BAA, #9AA), url("../img/background.jpg");
	background-blend-mode: color;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	min-height: 100vh;
	gap: 0px;
	margin: 0px;
	padding: 20px 10px 2px 10px;
}

/* headings: red border with grey inlay, Orbitron font */

.heading-border {
	background-color: #F00;
	display: flex;
	width: 100%;
	z-index: 2;
}

.heading-block {
	background-color: #BBB;
	color: #022;
	font-family: 'Orbitron', monospace;
	width: 100%;
}

/* groupings: teal border with dark inlay, Rubik font */

.group-border {
	background-color: #3BB;
	width: 100%;
	display: flex;
	margin-top: -8px;
}

.group-block {
	background-color: #022;
	font-family: 'Rubik', sans-serif;
	width: 100%;
	height: 100%;
	color: #EEE;
}

/* geometry */

.outer-polygon-asc {
	--x-offset: calc(var(--height) / tan(60deg));
	clip-path: polygon(var(--x-offset) 0px,0px 100%,calc(100% - var(--x-offset)) 100%,100% 0px);
}

.inner-polygon-asc {
	--x-offset: calc(var(--height) / tan(75deg));
	clip-path: polygon(var(--x-offset) 0px,0px 100%,100% 100%,100% 0px);
}

.outer-polygon-desc {
	--x-offset: calc(var(--height) / tan(75deg));
	clip-path: polygon(0px 0px,var(--x-offset) 100%,100% 100%,calc(100% - var(--x-offset)) 0px);
}

.inner-polygon-desc {
	--x-offset: calc(var(--height) / tan(60deg));
	clip-path: polygon(0px 0px,0px 100%,100% 100%,calc(100% - var(--x-offset)) 0px);
}

/* page title selectors */

.title-outer {
	--height: 72px;
	width: 404px;
	height: var(--height);
	margin: 0px 0px 0px 18px;
}

.title-inner {
	height: 100%;
	margin: 8px 0px 0px 24px;
}

.title {
	font-size: 32px;
	margin: 8px 0px 0px 24px;
}

/* headline selectors */

.headline-outer {
	--height: 60px;
	height: var(--height);
	width: 424px;
}

.headline-inner {
	margin: -8px 8px 0px 0px;
}


.headline {
	margin: 24px 0px 0px 50px;
	font-size: 16px;
	font-weight: 500;
}

/* media listings */

#media-list {
	flex: 1;
}

.media-list {
	display: flex;
	padding: 2rem 1rem;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 2rem;
	row-gap: 2rem;
	justify-content: center;
}

.track-group {
	flex: 0 1 auto;
	width: 424px;
	display: flex;
	flex-direction: column;
}

@media (max-width: 1080px) {
	.media-list {
		flex-direction: column;
	}
	#player {
		max-width: 440px;
	}
}

/* track listings */

.section-heading-outer {
	--height: 52px;
	height: var(--height);
	width: 290px;
	margin: 0px 0px 0px 18px;
}

.section-heading-inner {
	height: 100%;
	margin: 8px 0px 0px 20px;
}

.section-heading {
	font: 24px 'Orbitron', monospace;
	color: #022;
	margin: 6px 0px 0px 32px;
}


.track-listing-outer {
	--height: 240px;
	height: var(--height);
}

.track-listing-inner {
	margin: 0px 8px 0px 0px;
}

.track-listing {
	padding: 16px 84px 0px 64px;
	color: #EEE;
}

td {
	padding: 4px 0px;
	vertical-align: top;
}

.track-control {
	text-align: center;
	width: 32px;
	cursor: pointer;
	font-size: 12px;
}

.track-name {
	font-size: 14px;
	font-weight: 500;
}

.playing {
	color: #F00;
}

.paused {
	color: #FF0;
}

.idle {
	color: #EEE;
}

/* main player UI controls */

#playerInterface {
	display: flex;
	width: 100%;
	--height: 30px;
	height: var(--height);
}

#mainControl {
	width: 60px;
	background-color: #022;
	color: #3BB;
	text-align: center;
	height: 100%;
	padding: 4px 0px 0px 0px;
	font-family: 'Rubik', sans-serif;
	cursor: pointer;
}

/* dynamic, interactive timeline */

#timeline {
	width: 100%;
	background-color: #3BB;
	cursor: pointer;
	white-space: nowrap;
	display: flex;
	overflow: clip;
}

.timeline-status {
	font: 12px 'Orbitron', sans-serif;
	overflow: clip;
	margin-top: 8px;
}

#timeline-played {
	background-color: #022;
	overflow: clip;
	height: 100%;
}

#played-status {
	color: #3BB;
	text-align: right;
	margin-right: 12px;
	margin-left: -400px;
}

#timeline-queued {
	height: 100%;
}

#queued-status {
	color: #022;
	text-align: left;
	margin-left: 2px;
	margin-right: -400px;
}

#footer {
	font: 12px 'Rubik', sans-serif;
	color: #022;
	margin: 2px 0px;
	text-align: center;
}
